* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#social {
    background-color: black;
    width: 100%;
    height: 55px;
    padding: 18px;
    font-size: 15px;
    position: sticky;
    top:0;
    color:white;
    text-align: right;
}

#social > span {
    float:left;
    margin-left:50px;
    letter-spacing: 5px;
}

.icon {
    margin-right:50px;
}

.icon > i {
    margin-left:10px;
}

.icon > i:hover {
    opacity: 0.3;
}