* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

#social {
    background-color: black;
    width: 100%;
    height: 55px;
    padding: 18px;
    font-size: 15px;
    position: sticky;
    z-index: 99;
    top: 0;
    color:white;
    text-align: right;
}

#social > span {
    float: left;
    margin-left:1 0px;
    letter-spacing: 5px;
}

.icon {
    margin-right: 50px;
}

.icon > i {
    margin-left: 10px;
}

.icon > i:hover {
    opacity: 0.3;
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
}

/*box-shadow: 0 2px 8px 2px rgba(20,23,28,15) */
header {
    height: 250px;
    width: 100%;
    /* border: 1px solid white; */
    margin: auto;
    border-radius: 10px;
    position: relative;
    color:white;
    background-color: black;
    font-size: 32px;
    margin-bottom: 10px;
    
}

#headerImage {
    width:100%;
    height: 250px;
    border-radius: 10px;
    opacity: 0.9;
}

.headerTitle {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

/* */

section {
    width:100%;
    height:auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
}

nav {
    width:20%;
    height: auto;
    margin-left:0px;
    /* border: 1px dotted grey */
}

nav > ul  {
    margin-top:10px;
    margin-left:25px;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    border-bottom: 1px dotted grey;
    line-height: 40px;
    color:black;
}

nav > ul > li > a:hover {
    color: white;
    background-color: black;
}


/* */

main {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    height: auto;
    padding:10px;
    margin:10px;
    border-radius: 5px;
    background-color: grey;
    
}



.card-image {
    width: 100%;
    height: auto;
}

.card-image:hover {
    opacity: 0.8;
}

.card-title {
    margin:4px;
    color:white;
}

.card-p {
    color: white;
    margin-top:10px;
    letter-spacing: 0.7px;
    margin-bottom:10px;
}

.card-button {
    display: inline-block;
    /* margin-top:20px; */
    padding-left: 15px;
    height: auto;
    width: 170px;
    padding: 15px 10px;
    background-color: blue;
    color:white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    
}

.card-button:hover {
    opacity: 0.8;
}


footer {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;

}